.card-container{
    display: grid;
    justify-items: center;       
    row-gap: 2rem;
    padding-top: 2rem;
    
}

@media only screen and (min-width:800px) {
    .card-container{
        grid-template-columns: repeat(3,1fr);
    }
}
    .card{
        height: 350px;
        width: 300px;
    }
        .card-image{
            height: 300px;
            position: relative;
            width: inherit;
        }
            .card-front, .card-back{
                height: 300px;
                position: absolute;
            }
            .card-front img{
                height: 300px;   
            }
            .card-back{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                opacity: 0;
            }
                .img-back{
                    height: 300px;
                }
                .img-back img{
                    height: inherit;
                }
                .text-back{
                    background-color: var(--white-alpha-color);
                    height: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    text-align: center;
                    color: var(--first-color);
                    text-shadow: 0px 1px var(--second-color);
                    position: absolute;
                    width: 100%;
                    transform: scaleY(0);
                }
                #mouse-over:hover{
                    opacity: 1;
                }
                #mouse-over:hover .text-back{
                    transform: scaleY(1);
                    transition: all 0.1s linear;
                }
        .card-description{
            align-items: center;
            display: flex;
            height: 50px;  
            justify-content: space-between;
        }   
            .title{
                color:var(--first-color);
                font-weight: 500;
                margin-bottom: 0px;
            }
            .price{
                color: var(--second-color);
                font-weight:600;
                margin-top: 1px;
            }

