:root{
  --first-color: rgb(6, 0, 255);
  --second-color: rgb(169, 169, 164);
  --white-alpha-color: rgb(255, 255, 255,0.8);
  --first-font: 'poppins', sans-serif;
}

html{
  font-size: 16px;
}

*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body{
  overflow-x: hidden;
}

h1{
  color: var(--first-color);
  font-family: var(--first-font);
  font-size: 2rem;
  font-weight: 700;
}

@media only screen and (min-width:800px) {
     h1:nth-child(1){
        grid-column: span 3;
        text-align: center;
      }
}
